*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: grid;
    width: 100vw;
    height: 6vh;
    background-color: #404040;
    padding: 0 1rem;
    text-align: center;
    color: whitesmoke;
}
header div {
    display: flex;
    align-items: center;
}
main{
    width: 100vw;
    height: 91vh;
    padding: 1rem;
}
footer{
    display: grid;
    width: 100vw;
    height: 3vh;
    background-color: #404040;
    padding: 0 1rem;
    font-size: .6rem;
    color: whitesmoke;
}
footer div {
    display: flex;
    align-items: center;
}